body {
    font-family: 'Noto Sans', sans-serif;
}

ng-view {
    height: 100vh;
}



.center {
    text-align: center;
}

p.folder-title {
    font-size: 14px;
}

h2.proj-title {
    text-align: center;
    font-size: 28px;
}

.todo-list-item:focus {
    outline: none;
    border-bottom: 2px solid #FF6E40;
    color: #FF6E40;
    font-weight: 700;
}

/*.folder-list-item:hover,
.menu-project-title:hover {
    background-color: rgba(158,158,158,0.2);
}*/

.menu-button {
    color: rgb(255,87,34);
    text-transform: uppercase;
    font-size: 14px;
}

.menu-columns {
    border-right: solid 1px rgba(56,56,56,0.2);
}

.folder-settings {
    border-left: solid 1px rgba(56,56,56,0.2);
}

md-list-item.todos {
    font-size: 16px;
    font-weight: 400;
}

md-list-item p:focus {
    outline: none;
}

.active {
    background-color: #FF6E40;
    color: #fff;
}

.fade {
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.strikethis {
		display: inline-block;
		position: relative;
        transform: none;
}

.strikethrough.md-checked + .strikethis:after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		margin-top: -0.7em;
		background: #FF6E40;
		transform-origin: center left;
		animation: strikethis 0.75s cubic-bezier(.55, 0, .1, 1) 1;
		transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

@keyframes strikethis {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.fade-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade-view.ng-enter,
.fade-view.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade-view.ng-enter {
    opacity: 0;
}
.fade-view.ng-enter-active {
    opacity: 1;
}
.fade-view.ng-leave {
    opacity: 1;
}
.fade-view.ng-leave-active {
    opacity: 0;
}

md-toolbar.footer {
    background-color: rgba(56,56,56,0.2);
}

md-list-item.todos:hover {
    background-color: rgba(158,158,158,0.2);
}

md-list-item.folder-list-item:hover {
    background-color: rgba(158,158,158,0.2);
}

md-icon.nav-bar {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

button.md-button.nav-bar.md-icon-button {
    height: 60px;
    width: 60px;
    margin-left: 0;
    margin-top: 20px;
}

.footer-bar {
    background-color: #efefef;
    min-height: 42px;
}

md-subheader {
    background-color: rgba(56,56,56,0.2);
}

.folder-list {
    background-color: #efefef;
}

.action-tile {
    border: solid rgba(56,56,56,0.2) 1px;
    border-radius: 14px;
    height: 250px;
    width: 250px;
    background-color: #B0BEC5;
}

#no-project {
    font-size: 144px;
    height: 144px;
    width: 144px;
    padding: 0;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.folder-icons {
    font-size: 18px;
    height: 18px;
    width: 18px;
}

.expand-collapse.ng-hide {
    opacity: 0;
    height: 0;
}

.expand-collapse.ng-hide-remove, .expand-collapse.ng-hide-add {
    transition: 0.5s linear all;
    opacity: 0;
    height: 0;
}

.expand-collapse-ng-hide-remove-active {
    opacity: 1;
    height: auto;
}

.expand-collapse {
    opacity: 1;
}

/*.expand-collapse.ng-hide-add-active {
    transform: scaleY(1); 
}

.expand-collapse.ng-hide-remove-active {
    transform: scaleY(0);
}

.expand-collapse.ng-hide-remove {
    transform: scaleY(0);
}

.expand-collapse.ng-hide-add {
    transform: scaleY(0);
}

.expand-collapse.ng-hide {
    transform: scaleY(0);
}

.expand-collapse {
    transform: scaleY(1);
    transition: all 0.25s ease;
    transform-origin: top;
}*/

button.md-button.md-sidemenu-toggle {
    font-weight: bold;
}

button.folder-options {
    background-color: black;
}

md-side-menu
