<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h4>Projects</h4>
        </div>
    </md-toolbar>
    <md-content layout-padding>

        <md-list>
            <md-list-item>
                <span>Projects</span>
            </md-list-item>
            <md-list-item>
                <span>Posts</span>
            </md-list-item>
            <md-list-item>
                <span>Calendar</span>
            </md-list-item>
        </md-list>

        <md-button ng-click="close()" hide-gt-md>
            Close
        </md-button>

    </md-content>
</md-sidenav>