<md-list>

    <md-list-item class="md-whiteframe-2dp">
        <md-checkbox></md-checkbox>
        <p>Sample Todo Item</p>
        <md-icon class="md-secondary" md-font-family="material-icons"> alarm_add </md-icon>
    </md-list-item>
    <md-list-item class="md-whiteframe-2dp">
        <md-checkbox></md-checkbox>
        <p>Another Sample Todo Item</p>
        <md-icon class="md-secondary" md-font-family="material-icons"> alarm_add </md-icon>
    </md-list-item>
    <md-list-item class="md-whiteframe-2dp">
        <md-checkbox></md-checkbox>
        <p>One More Sample Todo Item</p>
        <md-icon class="md-secondary" md-font-family="material-icons"> alarm_add </md-icon>
    </md-list-item>

</md-list>