<md-toolbar class="md-hue-2" ng-controller="TopCtrl as top">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="top.toggleLeft()">
            <md-icon md-font-set="material-icons"> menu </md-icon>
        </md-button>
        <h2>
            <a class="md-display-1" href="/">projectr</a>
        </h2>
        <span flex></span>
        <md-button><md-icon md-font-set="material-icons" id="account_circle"> account_circle </md-icon></md-button>
    </div>
</md-toolbar>