<div layout="column" ng-controller="AppCtrl as appCtrl">

    <div data-ng-include="'app/layout/topnav.html'"></div>

    <section layout="row" layout-align="space-between center stretch" flex>

        <div data-ng-include="'app/projects/leftnav.html'" flex></div>

        <section flex="75" ng-controller="ListCtrl as list" layout="row" layout-align="space-between">

            <md-list flex focus-iter="[focus-here]">

                <md-list-item class="md-whiteframe-2dp fade" ng-repeat="todo in list.todos">
                        <md-checkbox ng-model="todo.complete" ng-change="list.updateTodo(todo)" ng-repeat="v in [0]"></md-checkbox>
                    <p class="todo-list-item" contenteditable ng-model="todo.title" ng-change="list.updateTodo(todo)" on-enter="list.addTodo()" focus-here delete-task-listener="list.removeTodo(todo)" reset-focus-on-new></p>

                    <md-datepicker ng-model="list.newDate" value="todo.dueDate" md-open-on-focus ng-show="todo.showDatePicker" ng-change="list.setDueDate(todo)"></md-datepicker>
                    <md-button class="md-secondary md-warn" ng-show="todo.dueDate != '' && !todo.showDatePicker" ng-click="todo.showDatePicker = !todo.showDatePicker">
                        <md-icon md-font-set="material-icons"> schedule </md-icon>{{todo.dueDate | date: 'EEEE, MMM dd, yyyy'}}</md-button>

                    <md-fab-speed-dial md-direction="left" class="md-scale md-secondary">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn md-mini">
                                <md-icon md-font-family="material-icons"> menu </md-icon>
                            </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>
                            <md-button class="md-fab md-raised md-mini md-danger" ng-click="list.deleteTodo(todo, $event)">
                                <md-icon md-font-family="material-icons"> delete </md-icon>
                            </md-button>
                            <md-button class="md-fab md-raised md-mini" ng-click="list.toggleRight()">
                                <md-icon md-font-family="material-icons"> hourglass_empty </md-icon>
                            </md-button>
                            <md-button class="md-fab md-raised md-mini" ng-click="todo.showDatePicker = !todo.showDatePicker">
                                <md-icon md-font-family="material-icons"> schedule </md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>

                </md-list-item>

            </md-list>



        </section>

        <div data-ng-include="'app/projects/rightnav.html'" flex></div>

    </section>

</div>