<div class="column" ng-controller="HomeCtrl as home">

    <div data-ng-include="'app/login/topnav.html'" flex></div>

    <section layout="row" layout-align="space-around center" layout-padding flex>

        <span flex></span>
        <md-content flex="60" layout="column" layout-align="center start">
            
            <div flex>
                <h1 style="font-size: 56px;">projectr <small style="font-size: 24px;">task and time management together</small></h1>
            </div>

            <div flex>
                <img src="http://placehold.it/650x350">
            </div>

            <div flex>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium diam erat, efficitur sollicitudin lectus feugiat sed. Sed sed lacinia tellus. Duis quis leo id lorem varius commodo. Sed id vulputate nisi, ut semper elit. Fusce eget turpis ac purus dapibus commodo ac eget diam. Phasellus pellentesque vitae nisi eu euismod. Duis tempus dolor nulla, tempus posuere dolor ultricies nec. Morbi pellentesque mauris in tristique pretium. Nullam vitae mauris aliquam, interdum libero sed, bibendum ipsum. Maecenas congue convallis ultricies.
                </p> 
            </div>

        </md-content>

        <span flex></span>

        <div flex="25" class="md-whiteframe-1dp" style="background-color: rgba(158,158,158,0.2);" layout="column" layout-padding layout-align="space-around">
            <form ng-submit="home.registerUser()" ng-hide="home.toggleSignIn">
                <div layout="column">
                    <md-input-container class="md-block">
                        <label>email address</label>
                        <input type="email" ng-model="home.email">
                    </md-input-container>
                    <md-input-container>
                        <label>password</label>
                        <input type="password" ng-model="home.password">
                    </md-input-container>
                    <md-input-container>
                        <label>verify password</label>
                        <input type="password" ng-model="home.verifyPassword">
                    </md-input-container>
                    <md-button class="md-primary md-raised" type="submit">Sign Up</md-button>

                </div>
            </form>

            <form ng-submit="home.signIn()" ng-show="home.toggleSignIn">
                <div layout="column">
                    <md-input-container class="md-block">
                        <label>email address</label>
                        <input type="email" ng-model="home.email">
                    </md-input-container>
                    <md-input-container>
                        <label>password</label>
                        <input type="password" ng-model="home.password">
                    </md-input-container>
                    <md-button class="md-primary md-raised" type="submit">Sign In</md-button>
                    <md-button flex ng-click="home.forgotPassword()" ng-show="home.toggleSignIn">forgot password?</md-button>
                </div>
            </form>

            <div layout="column" layout-align="space-between center">
            
                <p flex class="center" style="text-transform: uppercase; font-size: 14px; margin-bottom: 0;" ng-show="!home.toggleSignIn">Already a user?</p>
                <p flex class="center" style="text-transform: uppercase; font-size: 14px; margin-bottom: 0;"ng-hide="!home.toggleSignIn">New to projectr?</p>

                <md-button flex style="border: 1px solid #000;" ng-click="home.toggleSignIn = !home.toggleSignIn" ng-show="!home.toggleSignIn">
                    Click here to sign in
                </md-button>

                <md-button flex style="border: 1px solid #000;" ng-click="home.toggleSignIn = !home.toggleSignIn" ng-hide="!home.toggleSignIn">Click here to register</md-button>

            </div>

        </div>
        

        <span flex></span>

    </section>

    <div data-ng-include="'app/login/rightnav.html'" flex></div>
</div>