<div layout="column" ng-controller="AppCtrl as appCtrl">

    <div data-ng-include="'app/dashboard/topnav.html'"></div>

    <section ng-controller="DashCtrl as dash" layout="row" layout-align="center space-around">
        
        <span flex="20">
            <h2 class="center">Projects:</h2>
        </span>
        <md-list flex="60" layout="column">

            <md-list-item ng-repeat="proj in dash.projects" class="md-whiteframe-4dp" ng-click="dash.openProject(proj)">
                <h3 class="proj-head">{{proj.title}}</h3>
                <md-button class="md-primary md-secondary">Edit</md-button>
                <md-button class="md-primary md-secondary">Delete</md-button>
            </md-list-item>

        </md-list>
        
        <span flex></span>

    </section>

</div>