<div layout="column" ng-controller="AppCtrl as appCtrl">

    <div data-ng-include="'app/dashboard/topnav.html'"></div>

    <div ng-controller="DashCtrl as dash">

        <div layout="row" flex="100">
            <md-button class="md-fab md-primary" ng-click="dash.showInput = !dash.showInput">
                <md-icon md-font-set="material-icons"> add </md-icon>
            </md-button>

            <div ng-show="dash.showInput">
                <form name="newFolder" ng-submit="dash.createFolder()">

                    <div>
                        <md-input-container class="md-inline">
                            <label>Title</label>
                            <input ng-model="dash.title" autofocus>
                        </md-input-container>

                        <md-button class="md-raised md-primary" type="submit">New Folder</md-button>
                    </div>
                </form>
            </div>
        </div>

        <section layout="row" layout-padding layout-align="start space-around">

            <div flex="30">

                <md-list>

                    <md-list-item class="md-whiteframe-1dp" ng-repeat="folder in dash.folders" ng-click="showProjects()">
                        <h2 class="folder-title">{{folder.title}}</h2>
                        <md-icon class="md-secondary folder-icon material-icons"> chevron_right </md-icon>
                    </md-list-item>
                </md-list>
                
            </div>

            <div flex="40" ng-show="projectView">

                <md-list>

                    <md-list-item class="md-whiteframe-1dp" ng-repeat="project in dash.projects" ng-href="#/project/{{project.$id}}">
                        <h2 class="folder-title">{{project.title}}</h2>
                        <md-icon class="md-secondary folder-icon material-icons"> chevron_right </md-icon>
                    </md-list-item>

                </md-list>

            </div>

        </section>

    </div>

</div>