<div layout="column" ng-controller="AppCtrl as appCtrl">

    <div data-ng-include="'app/dashboard/topnav.html'"></div>

    <div ng-controller="DashCtrl as dash" layout="column">

        <section layout="row" layout-padding>

            <div layout="column" flex="20" class="menu-columns" layout-fill>

                <div class="folder-list" layout-fill>

                    <p>Folders</p>
                    <md-divider></md-divider>

                    <md-content flex="auto">

                        <md-list>

                            <md-list-item ng-repeat="folder in dash.folders" ng-class="{active: folder.$id === dash.folder}">

                                <md-menu md-offset="200 0">
                                    <p ng-click="dash.folderMenu($mdOpenMenu, $event, folder.$id)" class="folder-title">{{folder.title}}</p>
                                    <md-menu-content width="4">
                                        <md-menu-item ng-repeat="project in dash.projects | filter : dash.projectFilter" ng-click="dash.showTodos(project.$id)">
                                            <span>{{project.title}}</span>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-primary" ng-click="dash.addProject($event, folder.$id)">
                                                New Project
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-list-item>

                        </md-list>

                        <div ng-show="dash.showInput">
                            <form name="newFolder" ng-submit="dash.createFolder()">

                                <div>
                                    <md-input-container class="md-block">
                                        <label>Title</label>
                                        <input ng-model="dash.title" autofocus>
                                    </md-input-container>

                                    <md-button class="md-raised md-primary" type="submit">New Folder</md-button>
                                </div>
                            </form>
                        </div>

                    </md-content>

                    <md-divider></md-divider>

                    <md-button class="md-primary" ng-click="dash.showInput = !dash.showInput">
                        New Folder
                    </md-button>

                </div>

            </div>

            <!--<div layout="column" flex="15" class="menu-columns" layout-align="space-between">

                <div layout-fill>

                    <p>Projects</p>
                    <md-divider></md-divider>

                    <md-content flex="auto" ng-show="dash.projectView">

                        <md-list>

                            <md-list-item ng-repeat="project in dash.projects | filter : dash.projectFilter" ng-click="dash.showTodos(project.$id)" ng-class="{active: project.$id === dash.project}">
                                <p class="folder-title">{{project.title}}</p>
                            </md-list-item>

                        </md-list>

                    </md-content>

                    <md-divider></md-divider>

                    <md-button class="md-primary" ng-click="dash.showProjectInput = !dash.showProjectInput">
                        New Project
                    </md-button>

                    <div flex ng-show="dash.showProjectInput">
                        <form name="newProject" ng-submit="dash.createProject()">

                            <div>
                                <md-input-container class="md-block">
                                    <label>Title</label>
                                    <input ng-model="dash.projTitle" autofocus>
                                </md-input-container>

                                <md-button class="md-raised md-primary" type="submit">New Project</md-button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>-->

            <div ng-show="dash.todoView" flex class="md-whiteframe-2dp">

                <h3>Project Title</h3>
                <md-divider></md-divider>

                <div layout="column" ng-controller="ListCtrl as list" layout-align="center space-between" layout-padding flex="auto" ng-cloak>

                    <md-list focus-iter="[focus-here]">

                        <md-list-item class="todos" ng-repeat="todo in list.todos | filter : list.projFilter | filter : {complete : false}">
                            <md-checkbox class="strikethrough" ng-model="todo.complete" ng-change="list.updateTodo(todo)" ng-repeat="v in [0]"></md-checkbox>
                            <p class="todo-list-item strikethis" contenteditable ng-model="todo.title" ng-change="list.updateTodo(todo)" on-enter="list.addTodo()"
                                focus-here delete-task-listener="list.removeTodo(todo)" reset-focus-on-new></p>

                            <md-datepicker ng-model="list.newDate" value="todo.dueDate" md-open-on-focus ng-show="todo.showDatePicker" ng-change="list.setDueDate(todo)"></md-datepicker>
                            <md-button class="md-secondary md-warn" ng-show="todo.dueDate != '' && !todo.showDatePicker" ng-click="todo.showDatePicker = !todo.showDatePicker">
                                <md-icon md-font-set="material-icons"> schedule </md-icon>{{todo.dueDate | date: 'EEEE, MMM dd, yyyy'}}</md-button>

                            <md-fab-speed-dial md-direction="left" class="md-scale md-secondary">
                                <md-fab-trigger>
                                    <md-button aria-label="menu" class="md-fab md-warn md-mini">
                                        <md-icon md-font-family="material-icons"> menu </md-icon>
                                    </md-button>
                                </md-fab-trigger>

                                <md-fab-actions>
                                    <md-button class="md-fab md-raised md-mini md-danger" ng-click="list.deleteTodo(todo, $event)">
                                        <md-icon md-font-family="material-icons"> delete </md-icon>
                                    </md-button>
                                    <md-button class="md-fab md-raised md-mini" ng-click="list.toggleRight()">
                                        <md-icon md-font-family="material-icons"> hourglass_empty </md-icon>
                                    </md-button>
                                    <md-button class="md-fab md-raised md-mini" ng-click="todo.showDatePicker = !todo.showDatePicker">
                                        <md-icon md-font-family="material-icons"> schedule </md-icon>
                                    </md-button>
                                </md-fab-actions>
                            </md-fab-speed-dial>

                            <md-divider ng-if="!$last"></md-divider>

                        </md-list-item>

                    </md-list>

                    <div flex>

                        <md-button class="md-primary md-raised" ng-click="list.addTodo()">
                            New Task
                        </md-button>

                    </div>

                </div>

            </div>

        </section>

    </div>

</div>